<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bеб-сервис, который предсказывает вероятность плохой погоды для заданного маршрута</title>
</head>
<body>
    <h1>Введите начальную и конечную точки маршрута:</h1>
    <form method="POST" action="http://127.0.0.1:5000/location_choice">
        <input type="text" name="p1" placeholder="Название (начало названия) пункта отправления"  size="45" required>
        <br>
        <input type="text" name="p2" placeholder="Название (начало названия) пункта прибытия"  size="45" required>
        <br>
        <button type="submit">Узнать информацию о погоде!</button>
    </form>
</body>
</html>